  body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main-container-mall {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: #f9f9f9;
}

.content-container-mall {
  width: 90%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 20px;
  overflow: visible; /* Ensure the button is not hidden */
}

