.forum-grid-detail {
  flex: 1;
  padding: 2%; 
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.1); /* Adjusted box-shadow using em */
  display: flex;
  flex-direction: column;
  gap: 2%; 
  overflow: auto;
  max-height: calc(100vh - 20%); 
}

.post-detail-content {
  display: flex;
  flex-direction: column;
  gap: 1%; 
}

.no-posts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.5em;
  color: #888;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.post-info {
  flex: 1;
}

.post-info h3 {
  margin-top: 0;
  font-size: 1.6vw; 
  color: #333;
}

.post-info p {
  font-size: 1.6vw; 
  color: #666;
  margin: 1% 0; 
}

.post-detail-meta {
  display: block;
  font-size: 1vw; 
  color: #999393;
  margin-top: 0.5%; 
}

.comments-section {
  margin-top: 2%; 
  overflow-y: auto;
}

.comments-list {
  max-height: 30vh; 
  overflow-y: auto;
  margin-top: 1%;
}

.comment {
  padding: 1%; 
  border-bottom: 1px solid #f1f1f1;
}

.comment-author {
  font-weight: bold;
}

.comment-body {
  margin: 0.5% 0;
}

.comment-timestamp {
  font-size: 1vw; 
  color: #999;
}

.no-comments {
  text-align: center;
  color: #999;
  font-size: 1vw; 
  margin-top: 1%; 
}

.comments-container {
  margin-top: 1%; 
}

.toggle-comments-button {
  background-color: #4c57af;
  color: white;
  border: none;
  padding: 1% 2%; 
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1%;
  transition: background-color 0.3s;
}

.toggle-comments-button:hover {
  background-color: #3a4386;
}

.comments-container form {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

.comments-container input,
.comments-container textarea {
  font-size: 1vw;
  width: 96%;
  padding: 1%; 
  margin: 0.5% 0; 
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comments-container button[type="submit"] {
  padding: 1% 2%;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 1.5%; 
  margin-right: 2%;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.comments-container button[type="submit"]:hover {
  background-color: #555;
}

@media (max-width: 1096px) {
  .forum-grid-detail {
    padding: 1%; 
  }

  .comments-section {
    margin-top: 1%;
  }

  .comments-container {
    margin-top: 1%;
  }

  .toggle-comments-button {
    padding: 0.5% 1%;
  }

  .comments-container button[type="submit"] {
    padding: 0.5% 1%;
  }
}
