.posts-review {
  padding: 10px;
  max-height: 100%;
  overflow-y: auto;
  flex: 1;
  margin-top: 40px;
}

.posts-review::-webkit-scrollbar {
  width: 6px;
}

.posts-review::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

.posts-review::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

.no-posts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.5em;
  color: #888;
}
