.post-card-container {
  perspective: 1000px;

}

.post-card {
  background: white;
  border: 0.1em solid #ddd;
  border-radius: 8px;
  padding: 2%;
  margin: 1% 0;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 92%;
  width: 92%;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.post-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.2);
}

.post-card.selected {
  background-color: #f4f3fe;
}

.post-card::after {
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.5);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #f3f9f9;
}

.post-card:hover::before {
  top: -35%;
  background-color: #f3f9f9;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.post-card:hover::after {
  top: -45%;
  background-color: #f3f9f9;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}

.post-info {
  font-size: 1em;
  color: #555;
}

.post-author {
  font-weight: bold;
}

.post-time {
  margin-left: 2%;
}

.post-actions {
  display: flex;
  align-items: center;
}

.post-icon {
  font-size: 1em;
  margin-left: 2%;
  cursor: pointer;
  transition: color 0.3s;
}

.post-icon:hover {
  color: #777;
}

.animal-icon {
  font-size: 1.5em;
}

.post-content {
  font-size: 1.2em;
}

.post-title {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 1% 0;
}

.post-body {
  font-size: 1em;
  margin: 2%;
  color: #333;
  margin-right: 6%;
}

.post-footer { 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  bottom: 2%;
  right: 2%;
  font-size: 0.75em;
  color: #999;
}

.post-footer span {
  margin-top: 2%;
}
