.posts-review {
  padding: 1%;
  max-height: 100%;
  overflow-y: auto;
  flex: 1;
  margin-top: 2%;
}

.posts-review::-webkit-scrollbar {
  width: 0.6%;
}

.posts-review::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 0.5em;
}

.posts-review::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

.no-posts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.5em;
  color: #888;
}
