body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    padding: 20px;
    text-align: center;
}

.mall-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

h3 {
    margin-bottom: 20px;
}

.scroll-wrapper {
    position: relative;
}

.scroll-container {
    display: flex;
    overflow-x: hidden;
    scrollbar-width: none; /* For Firefox */
    scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
    padding: 0 10px;
    height: 80px;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}
