.favorite-section {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    border-radius: 8px;
    z-index: 15;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorite-button {
    position: relative;
    font-size: 1em;
    padding: 0.7em 1.4em;
    background-color: rgb(202, 173, 5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    color: #ffffff;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .favorite-button:hover{
    transform: scale(1.05);
    transition: 0.3s;
    background-color: rgb(113, 96, 2);
    /* border: 2px solid gold;  */
  }
  
  .favorite-button::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 50%,rgb(71, 70, 64) 50%,gold 60%);
    border-radius: 0 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    transition: 0.3s;
  }
  
  .favorite-button:hover::before {
    width: 1.2em;
    height: 1.2em;
  }
  
  .favorite-button:active {
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    transform: translate(0.1em, 0.1em);
  }
  
