.hero-section-mall {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  text-align: center;
  color: white;
  z-index: 1;
}

.home-hero-section {
  height: 100vh;
}

.hero-text-mall {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.home-hero-text {
  text-align: center;
  width: 80%;
  top: 30%; /* Adjusted to make space for details below */
  transform: translate(-50%, -30%);
}

.hero-heading-mall {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  margin-top: 10%;
}

.hero-description-mall {
  font-size: 30px;
  margin: 10px 0;
}

.home-hero-details-container {
  display: flex;
  justify-content: center;
  gap: 200px; /* Space between the two containers */
  margin-top: 20px;
}

.home-hero-details {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  margin-top: 5%;
  border-radius: 8px;
  width: 400px; /* Ensures both containers have the same width */
  text-align: center;
  position: relative;
  font-size: 24px;
}

.home-hero-hours,
.home-hero-address {
  position: relative;
  padding-top: 10px; 
}

.home-hero-hours h3,
.home-hero-address h3 {
  margin: 10px 0;
  text-align: center;
  margin-bottom: 30px;
}

.home-hero-hours p,
.home-hero-address p {
  margin: 3px 0;
}

.hero-hour-item {
  margin: 5px 0;
}

.icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 35px;
}

.hero-image-mall {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-image-mall img,
.hero-image-mall source {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
