.hero-section-mall {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  text-align: center;
  color: white;
  z-index: 1;
}

.hero-text-mall {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.hero-heading-mall {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
}

.hero-description-mall {
  font-size: 30px;
  margin: 10px 0;
}
.hero-hours-mall {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 18px;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  /* display: inline-block; */
}

.hero-hour-item {
  margin: 5px 0;
}

.hero-button-mall {
  display: inline-block;
  padding: 10px 20px;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.hero-image-mall {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-image-mall img,
.hero-image-mall source {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

  
  /* .scroll-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
  
  .scroll-arrow .scroll-arrow-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .scroll-arrow svg {
    fill: white;
    width: 32px;
    height: 32px;
    transition: fill 0.3s;
  }
  
  .scroll-arrow:hover .scroll-arrow-circle {
    background-color: grey;
    border-color: grey;
  }
  
  .scroll-arrow:hover svg {
    fill: white;
  } */
  