.container {
    position: relative;
    padding: 20px;
    text-align: center;
}

.scroll-wrapper {
    position: relative;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; /* For Firefox */
    scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
    z-index: 12;
    padding: 0 10px;
    height: 80px;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

.favorite-section-list {
    position: absolute;
    bottom: auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    z-index: 15;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorite-mall-list {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.favorite-mall-list:hover {
    background: rgba(255, 255, 255, 0.1);
}

.favorite-img-list {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.favorite-title-list {
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
}
