.container {
    position: relative;
    padding: 2.5%; 
    text-align: center;
    width: 100%;
}

.scroll-wrapper {
    position: relative;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2vw;
    cursor: pointer;
    z-index: 12;
    padding: 0 1%;
    height: 8vh;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

.favorite-section-list {
    position: absolute;
    bottom: auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 2%;
    border-radius: 2%;
    z-index: 15;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorite-mall-list {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.favorite-mall-list:hover {
    background: rgba(255, 255, 255, 0.1);
}

.favorite-img-list {
    width: 15%;
    height: 15%;
    object-fit: cover;
    border-radius: 2%;
}

.favorite-title-list {
    margin-top: 2%;
    font-size: 1vw;
    text-align: center;
}
