/* CSS for single dropdown (mall dropdown) */
.single-dropdown {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center; /* Center the content */
  }
  
  .single-dropdown select {
    text-align: center; /* Center the content */
    width: 410px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #3a7059;
    color: #fff;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }
  
  /* Style placeholder for single dropdown */
  .single-dropdown::placeholder {
    color: #f7f4f4;
  }
  
  /* CSS for multiple dropdowns (stores dropdowns) */
  .multiple-dropdowns {
    display: inline-block;
  }
  
  .multiple-dropdowns select {
    width: 200px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #3a7059;
    color: #fff;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-right: 10px; /* Add margin between multiple dropdowns */
  }
  
  /* Style placeholder for multiple dropdowns */
  .multiple-dropdowns::placeholder {
    color: #f7f4f4;
  }
  .input-field {
    text-align: center;
    width:400px;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #555; /* Darker border color */
    border-radius: 5px;
    background-color: #3a7059; /* Darker background color */
    color: #fff; /* Text color */
  }
  
  .input-field::placeholder {
    color: #f7f4f4; /* Placeholder text color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Specify the font family for placeholder */
    font-size: 18px; /* Adjust placeholder font size as needed */
  }
  
  .submit-button {
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 15px 195px;
    background-color: #204f22; /* Green */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }